* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header + Navbar */
header {
    width: 100vw;
}
header > div {
    height: 1.9375rem;
    width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    color: #555;
}
header > div > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
    height: inherit;
}
header > div > ul > li {
    height: min-content ;
    flex: 0 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1rem 0 0;
}
header nav {
    height: 69px;
    background: #111;
    width: 100%;
    padding: 0 1rem;
}
header nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    width: 100%;
}
header nav > ul li {
    margin-right: 1rem;
}
.menu-li {
}
header nav .meny {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
header nav .meny li {
    text-align: center;
}
header nav .meny li:nth-child(1){
        border-bottom: .5px ivory solid;
    }
    header nav .meny li:last-child{
        color: #d83b24
    }
#searchbar {
    background: inherit;
    border: 1px solid ivory;
    border-width: 0 0 1px 0;
}
header nav ul li:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
header nav ul li:last-child div ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: ivory;
    list-style-type: none;
}
/* Presentera produkter */
/* Sidomeny */

/* Titel + Brödsmulor + Filtrering */





.title-over-filter {
    padding-bottom: 1rem;
}


.under-title {
    padding-bottom: 1rem;
}


.grey-title {
    color: rgba(0,0,0,.54);
}


.black-filter {
    color: #111;
}




.border {
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.5);

}

.border:hover {
    background-color: rgb(245, 245, 245);
}

.filter-wrapper {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.inside-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    top: -0.6rem;
    right: 5rem;
    height: 100%;
    margin-left: 0.6rem;
    font-weight: 500;
    font-size: 1rem;

}

i {
    margin-top: 0.43rem;
    margin-left: 6.4rem;
}


.first-box {
    width: 130px;
    height: 34px;
}

.second-box {
    text-align: center;
    width: 130px;
    height: 34px;
}

.third-box {
    text-align: center;
    width: 130px;
    height: 34px;
}

.fourth-box {
    text-align: center;
    width: 130px;
    height: 34px;
}

.fifth-box {
    text-align: center;
    width: 130px;
    height: 34px;  
}

.right-filter {
    display: flex;
    text-align: center;

}


.popular-filter {
    width: 170px;
    height: 34px;
}

.popular-p {
    margin-left: 2.5rem;
}


.filter-wrapper-container {
    display: flex;
    justify-content: space-between;
}

.sidebar__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2rem;
    width: 20%;
}
.sidebar__list li{
    padding: .2rem 0;
    list-style: none;
}

.sidebar__list li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8125rem;
    color: #111;
    text-decoration: none;
    letter-spacing: .05rem;
    font-weight: 500;
    cursor: pointer;
}

.sidebar__list li a:hover{
    text-decoration: underline;
}

.sidebar__list--sub{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
}

/* Titel + Brödsmulor + Filtrering */

